.background {
    background-color:dimgray;
}

#roomBox {
    overflow-y: auto;
}

#roomCard {
    border-top: 1px solid dimgray;    
    border-bottom: 1px solid dimgray;    
    height: 75px;         
    padding: 10px 20px 10px 20px;
    cursor:pointer;    
}

#roomCard:hover {
    background-color: rgb(128, 128, 128);   
}

#roomCard > h5{
    margin: 0;
}

#chat-box .card {
    max-width: 70%;
}

#chat-box {
    overflow-y: auto;
}

#chat-form > textarea {
    max-height: 100px;
}

.modal-body {
    max-height: 200px;
    overflow-y: auto;
}

@media (max-width: 992px){
    .leftbar {
        display: none !important;
    }    

    .topbar {
        width: 100% !important;
    }   
}
@media (min-width: 992px){
    .offcanvas-body{
        display: none !important;
    }
}

@media (max-width: 1300px){
    .lastChatPreview {
        font-size: 11px;
    }
}